/*general rules*/
html {
	background-color: #f2f2f2;
	font-family: sans-serif;
	margin: 10px;
}
nav ul{
	background-color: #728B96;
	padding: 10px;
	font-family: Verdana, serif;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	
}
nav li{
	display: inline-block;
	font-size: 12pt;
	padding-left: 50px;
	padding-right: 50px;
	
}
nav a{
	color:black;
}
#current{
	color:white;
}
a:hover {
	color: yellow;
}
#logo {
	border: solid 1pt;
}

article {
	box-sizing: border-box;
	width: 689px;
	border: solid 1px;
	background-color: #d9d9d9;
	padding: 10px;
	
}

footer {
	border-top: solid 1pt;
	border-top-color: #d9d9d9;
	color: #b3b3b3;
}

/*home rules*/
#initial-p::first-letter {
	font-size: 42px;
	font-family: fantasy, serif;
}

/*contact rules*/
form {
	background-color: #d9d9d9;
	width: 658px;
	border: solid 1pt;
	padding: 10pt;
}
#contact-body {
	width: 500px;
	height: 150px;
}
#subject {
	width: 200px;
}
/* products rules*/
table {
	width: 669px;
}
.row-1{
	font-weight: bold;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
table th, td {
	border: solid 1pt;
	padding-right: 40px;
}
[alt~="Website"]{
	height: 600px;
}
[alt~="Watch"]{
	width: 100px;
	float: right;
}
figcaption {
	font-weight: italic;
	font-size: 8pt;
	font-family: Trebuchet;
}
th {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}



