/*general rules*/
html {
	background-color: #f2f2f2;
	font-family: sans-serif;
}
nav {
	background-color: #728B96;
	padding: 10px;
	font-family: Verdana, fantasy;
	display: inline-block;
	
}
nav a{
	text-align: center;
	display: inline-block;
	color: black;
	font-size: 12pt;
	padding-left: 50px;
	padding-right: 50px;
}
#current{
	color:white;
}
a:hover {
	color: yellow;
}
#logo {
	border: solid 1pt;
}

/*contact rules*/
form{
	background-color: #d9d9d9;
	width: 658px;
	border: solid 1pt;
	padding: 10pt;
}
#contact-body {
	width: 500px;
	height: 150px;
}
#subject {
	width: 200px;
}



